body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.to-do-list-wrapper {
    background-color: rgb(252, 226, 214);
    padding: 80px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
}

.task{
    list-style: none;
    margin: 30px auto;
    padding: 10px 20px;
    text-align: left;
    border-radius: 20px;
    background-color: rgb(253, 208, 187);
    display: flex;
    justify-content: space-between;
}

.task-list ul {
    padding: 0px;
    margin: 0px;
}